@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary: rgb(146, 176, 179);
  --color-accent: rgb(203, 59, 53);
  --color-background: rgba(146, 176, 179, 0.25);

  --color-overlay-background: rgba(146, 176, 179, 0.75);

  --animate-shake: shake 200ms ease-in-out;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
  }
}

.alert-title {
  @apply text-black font-bold font-roboto;
}

.alert-text {
  @apply text-gray-500 font-semibold font-roboto;
}

.alert-actions-container {
  @apply flex gap-4;
}

.alert-confirm-button {
  @apply text-black bg-primary text-lg font-bold font-roboto p-3 rounded cursor-pointer hover:opacity-80;
}

.alert-cancel-button {
  @apply text-white bg-red-500 text-lg font-bold font-roboto p-3 rounded cursor-pointer hover:opacity-80;
}
