@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary: rgb(146, 176, 179);
  --color-accent: rgb(203, 59, 53);
}
